---
layout: default
---
<div class="grid-50">
	<p>
		<nav class="tutorials inline-nav"><strong>Akselerasi Programming</strong>:
			<a href="/akselprog/tutorial/makefile/">Makefile</a>
			<a href="/akselprog/tutorial/cpp/">C++</a>
		</nav>
	</p>
</div>
<div class="grid-50">
	<h2>Blog</h2>
	<ul class="nostyle posts">
		{% if site.categories.blog.size > 0 %}
			{% for post in site.categories.blog limit:5%}
				<li><a href="{{post.url}}">{{post.title}}{%if post.subtitle %}:{{post.subtitle}}{%endif%}</a></li>
			{% endfor %}

		{% else %}
			<p>Belum ada post disini!</p>
		{% endif %}
	</ul>
	<p><a href="/archive.html">Arsip Blog</a></p>
</div>
<hr class="clear">


