<div class="contain-to-grid">
	<nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"><h1><a href="/">Virtualpain</a></h1></li>
        </ul>
        <section class="top-bar-section">
        	<ul class="left">
        		<li class="has-dropdown">
        			<a href="#">Programming</a>
        			<ul class="dropdown">
                        <li><a href="/akselprog/tutorial/editor" title="Tips memilih code editor favorit sesuai sistem dan budget anda">Code Editor</a></li>
                        <li><a href="/tutorial/dasar">Dasar Pemprograman</a></li>
                        <li><a href="/akselprog/tutorial/commandline">Command Line</a></li>
                        <li><a href="/akselprog/tutorial/regex">Regex</a></li>
        				<li><a href="/akselprog/tutorial/makefile">Makefile</a></li>
        				<li><a href="/akselprog/tutorial/c">C</a></li>
        				<li><a href="/tutorial/cpp">C++</a></li>
        				<li><a href="/tutorial/ruby">Ruby</a></li>
        			</ul>
        		</li>
                <li><a href="/arsip.html">Blog</a></li>
        	</ul>
            <ul class="right">
                <li><a href="https://github.com/virtualpain">Github</a></li>
            </ul>
        </section>
      </nav>
</div>