<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}} - virtualpain</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/unsemantic-grid-responsive.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
  </head>
  <body>
    <div class="grid-container">
      <header>
        <h1 class="site-title">{{page.title}}{%if page.subtitle %}: {{page.subtitle}}{%endif%}</h1>
      </header>
      {{content}}
      <footer>
        <p>&copy; <script>document.write(new Date().getFullYear())</script> virtualpain</p>
      </footer>
    </div>
  </body>
</html>